<!DOCTYPE html>
<html ng-app="NgApp">
<head>
    <title>Personal block list</title>
    <!--<link href="css/manager.css" type="text/css" rel="stylesheet"/>-->
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="PersonalControl" style="max-width:200px">
Search: <input ng-model="query">
<!--<button style="" ng-click="add()">add</button>-->
<br/>

<div style="max-height: 500px;overflow:scroll;overflow-x:hidden;float: right;">
    <table>
        <thead>
        <tr>
            <th>link</th>
            <th>button</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="link in BlockList| filter:query">
            <td>{{link}}</td>
            <td>
                <button ng-click="delete($index)">delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
